
[contenteditable="true"] {
  position: relative;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: text;
  
}

[contenteditable="true"]:focus {
  outline: none; 
  background-color: rgba(79, 70, 229, 0.15); 
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.5); 
}

[contenteditable="true"]:hover {
  background-color: rgba(79, 70, 229, 0.08); 
}

[contenteditable="true"]:active {
  background-color: rgba(30, 6, 247, 0.08); 
}


.ripple-container {
  position: relative;
  overflow: hidden; 
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(177, 141, 215, 0.7);
  transform: scale(0);
  animation: ripple-animation 0.6s ease-out;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
